* {
    margin: 0px;
    padding: 0px;
}
body {
    margin: 20px;
}
h1, h2, h3, h4, h5, h6, p {
    padding: 10px;
    color: orange;
}
.texto-com-background {
    background-color: yellow;
    margin: 10px;
}
#texto-com-outra-cor {
    color: green;
}